{% extends 'base.html.twig' %}

{% block body %}
    {{ include('partial/header.html.twig')}}
    <form method="GET">
        <input type="text" name="term" />
        <input type="submit" value="Buscar" />
    </form><br><br>
    <table>
        <thead>
            <tr>
                <th>Nombre <a href="{{ path('default_index', { orderBy: 'name', orderDir: 'DESC'}) }}">⬆</a>&nbsp;<a href="{{ path('default_index', { orderBy: 'name', orderDir: 'ASC'}) }}">⬇</a></th>                
                <th>Email <a href="{{ path('default_index', { orderBy: 'email', orderDir: 'DESC'}) }}">⬆</a>&nbsp;<a href="{{ path('default_index', { orderBy: 'email', orderDir: 'ASC'}) }}">⬇</a></th>                
                <th>Edad <a href="{{ path('default_index', { orderBy: 'age', orderDir: 'DESC'}) }}">⬆</a>&nbsp;<a href="{{ path('default_index', { orderBy: 'age', orderDir: 'ASC'}) }}">⬇</a></th>                
                <th>Localidad <a href="{{ path('default_index', { orderBy: 'city', orderDir: 'DESC'}) }}">⬆</a>&nbsp;<a href="{{ path('default_index', { orderBy: 'city', orderDir: 'ASC'}) }}">⬇</a></th>                
                <th>Departamento</th>
                <th>Proyectos</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ person.name}}</td>
                <td>{{ person.email }}</td>
                <td>{{person.age}}</td>
                <td>{{person.city}}</td>
                <td>{{person.department.name}}</td>
                <td>{{person.projects|join(', ')}}</td>
               <td>
                    <ul>
                        <li><a href="{{ path('default_show', { id: person.id }) }}">Ver en formato HTML</a></li>
                        <li><a href="{{ path('default_show_json', {id: person.id, _format: 'json'}) }}">Ver en formato JSON</a>                    
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
<style>
    body {
        background-color: yellow;
    }
</style>
{% endblock %}