{% extends 'base.html.twig' %}

{% block body %}
    {{ include('partial/header.html.twig')}}
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Edad</th>
                <th>Localidad</th>
                <th>Departamento</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ person.name}}</td>
                <td><a href="{{path('default_show', { id:id }) }}">{{person.email}}</a></td>
                <td>{{person.age}}</td>
                <td>{{person.city}}</td>
                <td>{{person.department}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
<style>
    body {
        background-color: yellow;
    }
</style>
{% endblock %}